body, html {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

h1, .card-title {
    font-weight: 600;
}

.scroll-box {
    max-height: 80vh;
    overflow-y: scroll;
}

.assistant-message {
    border: solid var(--bs-blue);
}

.user-message {
    border: solid var(--bs-green);
}

.ssytem-message {
    border: solid var(--bs-red);
}
